<div class="text-center">
  <h2 i18n>Juan Barea Gallego</h2>
  <h3 i18n>Junior Developer</h3>
</div>

<div class="container">
  <div class="row">
    <hr />
    <div class="col">
      <h4 i18n>Contact</h4>
      <ul class="list-unstyled">
        <li i18n class="pb-2 px-2">
          <mat-icon class="align-middle"> contact_phone</mat-icon>
          +34-622-440-285
        </li>
        <li class="pb-2 px-2">
          <mat-icon class="align-middle"> email</mat-icon>
          <a href="mailto:jbarea282@gmail.com">jbarea282&#64;gmail.com</a>
        </li>
        <li class="pb-2 px-2">
          <mat-icon class="align-middle"> location_on</mat-icon>
          Granada, Spain
        </li>
        <li i18n class="pb-2 px-2">
          <mat-icon class="align-middle"> language</mat-icon>
          English / Spanish
        </li>
      </ul>

      <hr />

      <h4 i18n>Education</h4>
      <div class="d-flex justify-content-between">
        <span i18n>Secondary Education</span>
        <span>2016</span>
      </div>
      <h6 class="mb-4">IES Pedro Jimenez Montoya</h6>

      <div class="d-flex justify-content-between">
        <span i18n>Game Design and Developement Degree </span>
      </div>
      <h6 class="mb-4">Universidad Complutense Madrid</h6>

      <div class="d-flex justify-content-between">
        <span i18n>C2 English Certificate</span>
        <span>2022</span>
      </div>
      <h6 class="mb-4" i18n>Cambridge University</h6>

      <hr />

      <h4 i18n>Online Courses</h4>
      <ul>
        <li i18n>Angular: Zero to Expert</li>
        <li i18n>Kreativstorm Hands-on Training Program</li>
        <li i18n>.NET Core MVC - The Complete Guide 2024</li>
        <li i18n>Microsoft Azure: From Zero to Hero - The Complete Guide</li>
        <li i18n>The Complete SQL Bootcamp</li>
        <li i18n>API and Webservices complete course</li>
        <li i18n>Docker training course</li>
        <li i18n>Git training course</li>
        <li i18n>Unreal Engine 5 C++ Developer</li>
        <li i18n>ChatGPT Prompt Engineering for Developers</li>
      </ul>
      <hr />
    </div>

    <div class="col-7">
      <h4 i18n>Profile</h4>
      <p i18n>
        As a junior developer, I am a highly motivated and dedicated individual
        with a strong passion for technology and problem-solving. I have a solid
        foundation in computer science principles and web development, and am
        constantly learning and growing my skills through online courses. I am a
        quick learner and thrive in team environments, bringing a sharp mind and
        a strong work ethic to every project I am a part of. I have reached the
        final step of selection process of 4 multinational companies and I am
        excited to continue my professional development and make meaningful
        contributions as a member of your team.
      </p>

      <hr />

      <h4 i18n>Programming Skills</h4>
      <ul>
        <li i18n class="mb-2">
          <b>C++</b> - I possess a strong command of C++ and have a deep
          understanding of its fundamentals and advanced concepts.
        </li>
        <li i18n class="mb-2"><b>C#</b> - I have extensive expertise in C#.</li>
        <li i18n class="mb-2"><b>C</b> - Studied the basis of the language.</li>
        <li i18n class="mb-2">
          <b>JavaScript</b> - Studied the basis of the language.
        </li>
        <li i18n class="mb-2">
          <b>Angular</b> - Studied the language through online courses.
        </li>
        <li i18n class="mb-2">
          <b>.Net</b> - Knowledge of the .Net platform and experience working on
          it.
        </li>
        <li i18n class="mb-2">
          <b>Docker</b> - Knowledge of Docker and application creation on it. on
          it.
        </li>
        <li i18n class="mb-2">
          <b>Microsoft Azure</b> - Knowledge of the platform and experience
          working on it.
        </li>
        <li i18n class="mb-2"><b>SQL</b> - Experience working on SQL databases</li>
        <li i18n class="mb-2">
          <b>Unreal Engine 5 & Unity</b> - I have a strong foundation on both
          game engines.
        </li>
      </ul>
      <hr />
    </div>
  </div>
  <div class="row mt-4">
    <h4 i18n>Additional Skills</h4>
    <ul>
      <li i18n class="mb-2">
        <b >Self Taught</b> - I have a strong ability to be self-taught and learn
        independently, which can significantly benefit a job by enabling me to
        quickly adapt to new technologies and acquire the skills needed to excel
        in the role.
      </li>
      <li i18n class="mb-2">
        <b>Languages</b> - I am a native Spanish speaker with a C2 level of
        English proficiency.
      </li>
      <li i18n class="mb-2">
        <b>Travel</b> - I am willing to travel for work or relocate as necessary
        to meet job requirements.
      </li>
      <li i18n class="mb-2">
        <b>Teamwork</b> - I have experience working in teams, where I actively
        contributed to brainstorming, problem-solving, and decision-making
        processes.
      </li>
      <li i18n class="mb-2">
        <b>Problem Solving</b> - I am adept at approaching challenges with a
        critical and analytical mindset, quickly identifying issues and
        formulating effective solutions, whether working independently or as
        part of a team.
      </li>
      <li i18n class="mb-2">
        <b>Adaptability</b> - My ability to remain flexible and open-minded
        allows me to learn new skills rapidly, embrace change, and pivot
        strategies when necessary.
      </li>
    </ul>
  </div>
</div>

<div class="text-center">
  <h4>
    <a i18n
       href="https://drive.google.com/file/d/1frxMulk2KDH5Sqkv83VgAv_nU-BFLWoI/view?usp=sharing"
    >
      <mat-icon class="align-middle"> arrow_downward</mat-icon> Download CV
    </a>
  </h4>
</div>
