<div class="text-center">
  <h2 i18n>Juan Barea Gallego</h2>
  <h3 i18n>Desarrollador Junior</h3>
</div>

<div class="container">
  <div class="row">
    <hr />
    <div class="col">
      <h4 i18n>Contacto</h4>
      <ul class="list-unstyled">
        <li i18n class="pb-2 px-2">
          <mat-icon class="align-middle"> contact_phone</mat-icon>
          +34-622-440-285
        </li>
        <li class="pb-2 px-2">
          <mat-icon class="align-middle"> email</mat-icon>
          <a href="mailto:jbarea282@gmail.com">jbarea282&#64;gmail.com</a>
        </li>
        <li class="pb-2 px-2">
          <mat-icon class="align-middle"> location_on</mat-icon>
          Granada, Spain
        </li>
        <li i18n class="pb-2 px-2">
          <mat-icon class="align-middle"> language</mat-icon>
          Español / Ingles
        </li>
      </ul>

      <hr />

      <h4 i18n>Educación</h4>
      <div class="d-flex justify-content-between">
        <span i18n>Educación Secundaria</span>
        <span>2016</span>
      </div>
      <h6 class="mb-4">IES Pedro Jimenez Montoya</h6>

      <div class="d-flex justify-content-between">
        <span i18n>Grado de Diseño y Desarrollo de Videojuegos </span>
      </div>
      <h6 class="mb-4">Universidad Complutense Madrid</h6>

      <div class="d-flex justify-content-between">
        <span i18n>Certificado de Ingles C2</span>
        <span>2022</span>
      </div>
      <h6 class="mb-4" i18n>Universidad de Cambridge</h6>

      <hr />

      <h4 i18n>Cursos Online</h4>
      <ul>
        <li i18n>Angular de Cero a Experto</li>
        <li i18n>Kreativstorm curso de entrenamiento práctico para desarrolladores</li>
        <li i18n>.Net Core MVC - Guia completa 2024</li>
        <li i18n>Microsoft Azure: de Cero a Héroe</li>
        <li i18n>API y Servicios Web</li>
        <li i18n>El curso de entrenamiento completo de SQL</li>
        <li i18n>Curso de Docker</li>
        <li i18n>Docker y Kubernetes: La guía práctica 2025</li>
        <li i18n>Curso de Git</li>
        <li i18n>Desarrollo en Unreal Engine 5 C++ </li>
        <li i18n>Ingeniería de mensajes rápidos de ChatGPT para desarrolladores</li>
      </ul>
      <hr />
    </div>

    <div class="col-7">
      <h4 i18n>Perfil</h4>
      <p i18n>
        Como desarrollador júnior, soy una persona altamente motivada y dedicada, con una gran pasión por la tecnología
        y la resolución de problemas. Cuento con sólidos conocimientos de informática y desarrollo web, y estoy en constante
        aprendizaje y desarrollo de mis habilidades a través de cursos en línea. Aprendo con rapidez y me desenvuelvo en equipos,
        aportando una mente aguda y una sólida ética de trabajo a cada proyecto en el que participo. He llegado a la fase final del
        proceso de selección de cuatro empresas multinacionales y estoy entusiasmado por continuar mi desarrollo profesional y
        contribuir significativamente como miembro de su equipo.
      </p>

      <hr />

      <h4 i18n>Habilidades de Programación</h4>
      <ul>
        <li i18n class="mb-2">
          <b>C++</b> - Tengo un sólido dominio de C++ y una comprensión profunda de sus fundamentos y conceptos avanzados.
        </li>
        <li i18n class="mb-2"><b>C#</b> - Tengo amplia experiencia programando en C#.</li>
        <li i18n class="mb-2"><b>C</b> -  He estudiado los fundamentos del lenguaje.</li>
        <li i18n class="mb-2">
          <b>JavaScript</b> - He estudiado los fundamentos del lenguaje.
        </li>
        <li i18n class="mb-2">
          <b>Angular</b> - He estudiado el lenguaje mediante cursos online.
        </li>
        <li i18n class="mb-2">
          <b>.Net</b> - Conocimiento de la plataforma y experiencia tabajando con ella.
        </li>
        <li i18n class="mb-2">
          <b>Docker</b> - Conocimiento de la plataforma y creacion de aplicaciones en ella.
        </li>
        <li i18n class="mb-2">
          <b>Kubernetes</b> - Aprendí a desplegar aplicaciones Docker: manualmente, con servicios gestionados o con Kubernetes.
        </li>
        <li i18n class="mb-2">
          <b>Microsoft Azure</b> - Conocimiento de la plataforma y experiencia tabajando con ella.
        </li>
        <li i18n class="mb-2"><b>SQL</b> - Experiencia trabajando con bases de datos en SQL.</li>
        <li i18n class="mb-2">
          <b>Unreal Engine 5 & Unity</b> - Tengo amplia experiencia tabajando con ambos motoros de juegos.
        </li>
      </ul>
      <hr />
    </div>
  </div>
  <div class="row mt-4">
    <h4 i18n>Habilidades Adicionales</h4>
    <ul>
      <li i18n class="mb-2">
        <b >Autodidacta</b> - Tengo una gran capacidad para ser autodidacta y aprender de forma independiente, lo que puede beneficiar significativamente un trabajo al permitirme adaptarme rápidamente a nuevas tecnologías y adquirir las habilidades necesarias para sobresalir en el puesto.
      </li>
      <li i18n class="mb-2">
        <b>Idiomas</b> - Soy hablante nativo de español con un nivel C2 de dominio del inglés.
      </li>
      <li i18n class="mb-2">
        <b>Viaje</b> - Estoy dispuesto a viajar por trabajo o reubicarme según sea necesario para cumplir con los requisitos del trabajo.
      </li>
      <li i18n class="mb-2">
        <b>Trabajo en Equipo</b> - Tengo experiencia trabajando en equipo, donde contribuí activamente en procesos de lluvia de ideas, resolución de problemas y toma de decisiones.
      </li>
      <li i18n class="mb-2">
        <b>Solución de Problemas</b> - Soy experto en abordar desafíos con una mentalidad crítica y analítica, identificando rápidamente problemas y formulando soluciones efectivas, ya sea trabajando de forma independiente o como parte de un equipo.
      </li>
      <li i18n class="mb-2">
        <b>Adaptabilidad</b> - Mi capacidad de mantenerme flexible y de mente abierta me permite aprender nuevas habilidades rápidamente, aceptar el cambio y cambiar de estrategia cuando es necesario.
      </li>
    </ul>
  </div>
</div>

<div class="text-center">
  <h4>
    <a i18n
       href="https://rxresu.me/jbareagallego/spanish-cv"
    >
      <mat-icon class="align-middle"> arrow_downward</mat-icon> Descargar CV
    </a>
  </h4>
</div>
